@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
}

.blue-bg,
.white-bg,
.grey-bg {
    background-color: #1f2937;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.white-bg {
    background-color: #ffffff;

}

.grey-bg {
    background-color: #e7e7e7;
}

.header {
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 60%;
    max-width: 1050px;
    padding: 15px 50px;
}

.header-logo {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #f9faf8;
}

.header-links {
    justify-self: flex-end;
}

.header-links ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #e5e7eb;
}


.hero-container {
    display: flex;
    padding: 60px 50px;
    justify-content: center;
    gap: 100px;
    min-width: 1000px;
    flex-wrap: wrap;


}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;

}

.hero-text h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.hero-text button {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 25px;
    border: none;
    border-radius: 5px;
}

.hero-image img {
    width: 550px;
    height: 300px;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.info-container h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    color: #1f2937;
}

.info-cards {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 80px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #1f2937;

}

.card img {
    width: 150px;
    border: solid #3882f6;
    border-radius: 10px;

}

.quote-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    padding: 90px;
}

.quote {
    padding: 0px;
    margin: 0;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: lighter;
    max-width: 800px;

}

.author {
    align-self: flex-end;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0;
}

.action-container {
    background-color: #3882f6;
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 60px;
    align-items: center;
    padding: 40px 100px;
    border-radius: 10px;
}

.action-text h4 {
    margin: 0;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 4px;
}

.action-text p {
    margin: 0;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.sign-up {
    background-color: transparent;
    border: solid 2px #f9faf8;
    border-radius: 3px;
    color: #f9faf8;
    width: 80px;
    height: 30px;
}

.sign-up a {
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.copyright {
    padding: 30px;
    color: #f9faf8;
}